.footer {
  margin-top: 1.5rem;
  padding: 3rem 0;
  background-color: #1b1b1b;
  color: #f9f9f9;
  font-size: 0.75rem;
  text-align: center;

  p:first-child {
    margin-bottom: 0.5rem;
  }

  a {
    color: #fff;
  }
}
